<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 *ngIf="!productData" class="m-b-0 text-white">Nuevo Producto</h4>
                    <h4 *ngIf="productData" class="m-b-0 text-white">Datos del Producto {{productData.descripcion}}</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="productForm" (ngSubmit)="save()">
                        <div class="form-body">
                            <h3 class="card-title">Información</h3>
                            <hr>

                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="control-label">Descripcion</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" [(ngModel)]="product.descripcion" class="form-control"
                                                placeholder="Descripcion" formControlName="descripcion">
                                        </div>
                                        <!-- <input type="text" id="firstName" class="form-control" placeholder="John doe"> -->
                                        <small *ngIf="InputValidate('descripcion')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>

                                    </div>
                                </div>

                                <!--/span-->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label">Categoria</label>
                                        <div class="input-group">

                                            <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                            <select class="form-control custom-select" [(ngModel)]="product.categoria"
                                                required formControlName="categoria">
                                                <option>--Elige una categoria--</option>
                                                <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                                                    {{ categoria.Nombres }}
                                                </option>
                                            </select>

                                        </div>
                                        <small *ngIf="InputValidate('categoria')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>
                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <!-- Row-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Proveedor</label>

                                        <div class="input-group">

                                            <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                            <select class="form-control custom-select" [(ngModel)]="product.proveedor"
                                                required formControlName="proveedor">
                                                <option>--Elige un proveedor--</option>
                                                <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">
                                                    {{ proveedor.Nombres }}
                                                </option>
                                            </select>

                                        </div>
                                        <small *ngIf="InputValidate('proveedor')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="control-label">Marca</label>

                                        <div class="input-group">

                                            <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                            <select class="form-control custom-select" [(ngModel)]="product.marca"
                                                required formControlName="marca">
                                                <option>--Elige una marca--</option>
                                                <option *ngFor="let marca of marcas" [ngValue]="marca.id">
                                                    {{ marca.Nombre }}
                                                </option>
                                            </select>

                                        </div>
                                        <small *ngIf="InputValidate('marca')" class="form-control-feedback text-danger">
                                            Campo obligatorio </small>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <!-- Row-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="control-label">Medidas</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" [(ngModel)]="product.medidas" class="form-control"
                                                placeholder="Medidas" formControlName="medidas">
                                        </div>
                                        <!-- <input type="text" id="firstName" class="form-control" placeholder="John doe"> -->
                                        <small *ngIf="InputValidate('medidas')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>

                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="control-label">Cantidad</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" [(ngModel)]="product.cantidad" class="form-control"
                                                placeholder="Cantidad" formControlName="cantidad">
                                        </div>
                                        <!-- <input type="text" id="firstName" class="form-control" placeholder="John doe"> -->
                                        <small *ngIf="InputValidate('cantidad')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>


                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Precio</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" [(ngModel)]="product.precioUnitario" class="form-control"
                                                placeholder="Precio" formControlName="precio_unitario">
                                        </div>
                                        <!-- <input type="text" id="firstName" class="form-control" placeholder="John doe"> -->
                                        <small *ngIf="InputValidate('precio_unitario')"
                                            class="form-control-feedback text-danger">
                                            Campo obligatorio </small>
                                    </div>
                                </div>

                            </div>




                        </div>
                        <div class="form-actions text-right">
                            <button [routerLink]="['/productos']" class="btn btn-inverse">Cancel</button>
                            <button type="submit" class="btn btn-success m-l-10"> <i class="fa fa-save"></i>
                                Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>