<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body ">
                    <h3 class="text-center">PRODUCTOS</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-8">
                            <h4 class="card-title">Productos registrados</h4>
                            <!-- <h6 class="card-subtitle"></h6> -->
                        </div>
                        <div class="col">
                            <div class="text-right">

                                <a [routerLink]="['/productos', 'product' , 'new']" class="btn btn-primary"
                                    data-target="#exampleModal" data-toggle="modal">
                                    <i class="fa fa-child"></i>
                                    Crear Producto
                                </a>

                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Categoria</th>
                                    <th>Proveedor</th>
                                    <th>Marca</th>
                                    <th>Medidas</th>
                                    <th>Cantidad</th>
                                    <th>Precios</th>
                                    <!--  <th *ngIf="role !== 'sales' && role !== 'manager'" class="text-nowrap">Acciones</th> -->
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let product of data">

                                    <td>{{product.Descripcion}}</td>
                                    <td>{{product.Categoria}}</td>
                                    <td>{{product.Proveedor}}</td>
                                    <td>{{product.Marca}}</td>
                                    <td>{{product.Medidas}}</td>
                                    <td>{{product.Cantidad}}</td>
                                    <td>{{product.Precio}}</td>
                                    <td class="text-nowrap">

                                        <a [routerLink]="['/productos', 'product' , product.Id]" class="cursor"
                                            data-toggle="tooltip" data-original-title="Editar"> <i
                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>


                                        <a class="cursor" data-toggle="tooltip" data-original-title="Eliminar"
                                            (click)="DeleteProducto(product)">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>