.cursor, #themecolors a{
    cursor: pointer;
}

.center{
    margin: 0 auto;
}

#show-password, #btn-generar-password{
    color: white;
}

#contenedor{
    width: 450px !important;
}

.visible{
    visibility: collapse !important;
}